@media only screen and (max-width: 414px) {
    main {
        padding: 40px 20px !important;
    }

    #wrapper-char,
    #form-add-device {
        width: 100% !important;
        height: 380px;
    }

    #char {
        height: calc(100vw - 40px);
    }

    .btn-primary {
        padding: 12px 24px;
    }

    #wrapper-table-device,
    .header,
    .menu-top,
    #logs-table,
    #action-logs,
    #pagination-table-logs {
        display: none !important;
    }

    .mobile-header {
        padding: 10px 20px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: #f5f5f5;
        font-size: 20px;
    }

    .mobile-header h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
    }

    .mobile-menu-top span:first-child {
        font-size: 30px;
    }

    .mobile-menu-top span:last-child {
        font-weight: 800;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 1000px) {
    .modal {
        display: none !important;
    }
}
