.header {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px ;
    align-items: center;
    background-color: #fff;
    height: var(--height-header);
    border-bottom: 2px solid #ccc;
}

.header div {
    display: flex;
    align-items: center;
    gap: 15px;

}

.header div span:first-child i{
    font-size: 25px;
}

.header div span:last-child {
    font-weight: 600;
    opacity: 0.8;
}