.menu {
    min-height: 100vh;
    width: 250px;
    border-right: 2px solid #ccc;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.menu-top {
    height: var(--height-header);
    display: flex;
    align-items: center;
}

.menu-item, .menu-top {
    display: flex;
    align-items: center;
}

.menu-item .wrapper-icon, .menu-top .wrapper-icon {
    width: 52px;
    height: 44px;
    font-size: 20px;

}

.menu-item:hover {
    background-color: #cfe2ff;
    cursor: pointer;
    opacity: 0.8;

}

.menu-item:active {
    opacity: 0.6;
}

.menu-item.selected {
    background-color: #c0d9ff;
    color: #0e67d1;
}